@import './reset.scss';
@import './variables.scss';
@import './fonts.scss';


* {
    box-sizing: border-box;

    body {
        font-family: 'Poppins';
    }
}

.header {
    position: relative;

    .vector {
        max-width: 30%;
        position: absolute;

        img {
            width: 100%;
        }
    }

    .vector2 {
        max-width: 30%;
        position: absolute;
        right: 0;

        img {
            width: 100%;
        }
    }

    .wrapper {
        display: flex;
        justify-content: center;
        padding-top: 60px;

        .logo {
            margin-bottom: 93px;

            img {
                width: 100%;
            }
        }
    }
}

main {
    .popup {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(22, 44, 78, 0.6);
        z-index: 999;

        .popup-wrapper {
            position: relative;
            margin: 10% auto;
            padding: 20px;
            background: white;
            width: 320px;
            height: 370px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
            }

            h2 {
                margin-top: 100px;
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 104%;
                text-align: center;
                text-transform: uppercase;
                color: $primary-color;
                margin-bottom: 30px;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: $text-color;
                margin-bottom: 30px;
            }

            button {
                margin: 0 auto;
                border-radius: 40px;
                width: 200px;
                height: 60px;
                position: relative;
                background: $primary-color;
                border-radius: 40px;
                color: #fff;
                border: 0;
            }
        }
    }

    .intro {
        .wrapper {
            display: flex;
            flex-direction: column;
            max-width: 840px;
            width: 100%;
            margin: 0 auto;
            padding-left: 25px;
            padding-right: 25px;

            @media (max-width: 768px) {
                margin: auto;
                justify-content: center;
                align-items: center;

            }

            .title {
                margin-bottom: 32px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    color: $primary-color;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 72px;
                    line-height: 104%;
                    text-align: center;
                    text-transform: uppercase;
                    opacity: 0.39;
                    margin-bottom: 8px;

                    @media (max-width: 768px) {
                        font-size: 36px;
                    }

                }

                p {
                    color: $text-color;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    text-align: center;
                    max-width: 420px;
                    text-align: center;

                    @media (max-width: 768px) {
                        font-size: 16px;

                    }
                }
            }
        }

        .timer {
            max-width: 590px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-bottom: 70px;

            // @media (max-width: 768px) {
            //     max-width: 360px;
            // }

            span {
                font-style: normal;
                font-weight: 600;
                font-size: 72px;
                line-height: 100%;
                color: $primary-color;

                @media (max-width: 768px) {
                    font-size: 36px;
                }
            }

            .days,
            .hours,
            .minutes,
            .seconds {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 100px;
                width: 100%;



                div {
                    color: $primary-color;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 72px;
                    line-height: 100%;
                    margin-bottom: 3px;

                    @media (max-width: 768px) {
                        font-size: 36px;
                    }
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    width: 132px;
                    height: 54px;
                    line-height: 100%;
                    color: #fff;
                    background: url(../assets/svg/timer_p_bg.svg) center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    text-align: center;
                    padding-top: 20px;

                    @media (max-width: 768px) {
                        font-size: 12px;
                        width: 82px;
                    }

                    @media (max-width: 420px) {
                        width: 62px;
                    }
                }
            }
        }

        .link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 76px;

            @media (max-width: 768px) {
                margin-bottom: 169px;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                margin-bottom: 12px;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }

            button {
                width: 240px;
                height: 60px;
                position: relative;
                background: $primary-color;
                border-radius: 40px;
                color: #fff;
                border: 0;

                a {
                    color: white;
                    text-decoration: none;
                }

                &::after {
                    content: url(../assets/svg/arrow_right.svg);
                    position: absolute;
                    right: 20;
                    top: 20;
                }
            }
        }

        .footer {
            flex: 0 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $primary-color;
            min-height: 192px;

            form {
                width: 440px;
                height: 59px;
                background: #fff;
                border: 0;
                box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
                border-radius: 40px;
                justify-content: center;
                align-items: center;
                display: flex;

                @media (max-width:500px) {
                    width: 250px;
                }

                .form {
                    color: black;
                    background: white;
                    border: 0;
                    width: 85%;

                    @media (max-width:500px) {
                        width: 76%;
                        font-size: 12px;
                    }
                }

                .submit {
                    background: red;
                    border-radius: 50%;
                    width: 43px;
                    height: 43px;
                    border: 0;
                    position: relative;

                    &::after {
                        content: url(../assets/svg/arrow_right.svg);
                        position: absolute;
                        top: 12px;
                        right: 10px;
                    }
                }
            }
        }
    }

    .events {
        padding-top: 110px;
        padding-left: 25px;
        padding-right: 25px;


        .wrapper {
            max-width: 1705px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            @media (max-width:768px) {
                height: 170vh;
            }

            .title {
                font-style: normal;
                font-weight: 700;
                font-size: 72px;
                line-height: 104%;
                text-align: center;
                text-transform: uppercase;
                color: $primary-color;
                opacity: 0.39;
                margin-bottom: 40px;
            }

            .accordion {
                display: flex;
                height: 680px;
                margin: 0 auto;
                margin-bottom: 100px;

                @media (max-width: 1550px) {
                    flex-direction: column;
                }

                .accordion-item {
                    display: flex;

                    @media (max-width: 1550px) {
                        flex-direction: column-reverse;
                        width: 100%;
                        max-width: 995px;
                    }


                    .accordion-button {

                        font-family: 'SF Pro Display';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 40px;
                        line-height: 100%;
                        text-align: right;
                        letter-spacing: -0.03em;
                        background: $primary-color;
                        color: #FFFFFF;
                        border: 4px solid #FFFFFF;
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        padding-bottom: 20px;
                        @media (max-width: 768px) {
                            font-size: 24px;
                        }

                        @media (max-width: 1550px) {
                            flex-direction: row;
                            justify-content: initial;
                            padding: 20px;
                        }


                        .accordion-title {
                            transform: rotate(-180deg);
                            writing-mode: vertical-rl;
                            margin-bottom: 40px;
                            order: 1;

                            @media (max-width: 1550px) {
                                margin: initial;
                                transform: initial;
                                writing-mode: initial;
                                order: 2;
                                margin-left: 32px;
                            }
                        }

                    }

                    .el1 {
                        background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url(../assets/images/hawaii.png) no-repeat center;
                    }

                    .el2 {
                        background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url(../assets/images/mafia.jpg) no-repeat center;
                    }

                    .el3 {
                        background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url(../assets/images/party.jpg) no-repeat center;
                    }

                    .el4 {
                        background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url(../assets/images/party_on_the_beach.jpg) no-repeat center;
                        background-size: cover;
                    }

                    .el5 {
                        background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url(../assets/images/home_securiry.jpg) no-repeat center;
                    }

                    .el6 {
                        background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url(../assets/images/network.jpg) no-repeat center;
                    }

                    .el7 {
                        background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url(../assets/images/system_design.jpg) no-repeat center;
                        background-size: cover;
                    }

                    .el8 {
                        background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url(../assets/images/client_care.jpg) no-repeat center;
                        background-size: cover;
                    }

                    .accordion-button:active,
                    .accordion-button.active {
                        background: $primary-color;
                    }

                    .content-el1 {
                        background: url(../assets/images/hawaii.png);
                    }

                    .content-el2 {
                        background: url(../assets/images/mafia.jpg);
                    }

                    .content-el3 {
                        background: url(../assets/images/party.jpg);
                    }

                    .content-el4 {
                        background: url(../assets/images/party_on_the_beach.jpg) no-repeat;
                        background-size: cover;
                    }

                    .content-el5 {
                        background: url(../assets/images/home_securiry.jpg);
                    }

                    .content-el6 {
                        background: url(../assets/images/network.jpg) no-repeat;
                        background-size: cover;
                    }

                    .content-el7 {
                        background: url(../assets//images/system_design.jpg) no-repeat;
                        background-size: cover;
                    }

                    .content-el8 {
                        background: url(../assets/images/client_care.jpg) no-repeat;
                        background-size: cover;
                    }

                    .accordion-content {
                        display: none;
                        width: 995px;

                        @media (max-width: 1550px) {
                            display: none;
                            flex-direction: column;
                            justify-content: end;
                            height: 600px;
                        }
                        @media (max-width: 1100px) {
                            max-width: 650px;
                        }
                        @media (max-width: 730px) {
                            width: auto;
                        }

                        .content-container {
                            overflow: hidden;
                            width: 364px;
                            backdrop-filter: blur(20px);
                            background: rgba(18, 18, 18, 0.8);
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: end;
                            padding: 50px;

                            @media (max-width: 1550px) {
                                width: auto;
                                height: auto;
                            }

                            h2 {
                                position: absolute;
                                width: 405px;
                                height: 380px;
                                left: -143px;
                                top: -38px;
                                font-family: 'SF Pro Display';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 380px;
                                line-height: 100%;
                                text-align: right;
                                letter-spacing: -0.03em;
                                color: rgba(255, 255, 255, 0.04);
                                margin-bottom: 140px;
                                pointer-events: none;
                                overflow: hidden;

                                @media (max-width: 1550px) {
                                    font-size: 270px;
                                    left: initial;
                                    right: -60px;
                                    top: -30px;

                                }
                            }

                            div {
                                display: flex;
                                flex-direction: column;
                                max-width: 250px;
                                p {
                                    font-family: 'SF Pro Display';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 24px;
                                    line-height: 120%;
                                    color: #FFFFFF;
                                    margin-bottom: 12px;
                                    @media (max-width: 768px) {
                                        font-size: 18px;
                                    }
                                }

                                span {
                                    font-family: 'SF Pro Display';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 150%;
                                    color: rgba(255, 255, 255, 0.8);
                                    @media (max-width: 768px) {
                                        font-size: 16px;
                                    }
                                }

                                button {
                                    margin-top: 25px;
                                    padding: 20px 56px;
                                    background: none;
                                    color: #fff;
                                    border: 2px solid rgba(255, 255, 255, 0.8);
                                    border-left: 7px solid rgba(255, 255, 255, 0.8);
                                    @media (max-width: 768px) {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }

                    .expanded {
                        display: flex;
                    }
                }
            }
        }
    }
}